<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}.%M] - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
		<file>./test-logs/commerce-bank.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}.%M] - %msg%n</Pattern>
		</encoder>
	</appender>
	<logger name="org" level="info" additivity="false">
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>

	<logger name="seniorproject.commercebank2" level="debug"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SAVE-TO-FILE" />
	</root>
</configuration>